@using LeadsHR.ViewModels
@model EmployeeEditViewModel

@{
    ViewData["Title"] = "Edit Employee";
}

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Edit Employee</h6>
            </div>
            <div class="card-body">
                <form method="post" asp-action="Edit">
                    <input type="hidden" name="Employee.EmployeeId" value="@Model.Employee.EmployeeId" />

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="FirstName">First Name</label>
                                <input class="form-control" type="text" name="Employee.FirstName" value="@Model.Employee.FirstName" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="LastName">Last Name</label>
                                <input class="form-control" type="text" name="Employee.LastName" value="@Model.Employee.LastName" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input class="form-control" type="email" name="Employee.Email" value="@Model.Employee.Email" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Division">Division</label>
                                <input class="form-control" type="text" name="Employee.Division" value="@Model.Employee.Division" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Building">Building</label>
                                <input class="form-control" type="text" name="Employee.Building" value="@Model.Employee.Building" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Title">Position</label>
                                <input class="form-control" type="text" name="Employee.Title" value="@Model.Employee.Title" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Room">Room</label>
                                <input class="form-control" type="text" name="Employee.Room" value="@Model.Employee.Room" />
                            </div>
                        </div>
                    </div>

                    <p class="text-uppercase text-sm">
                        Educational Information
                        <button type="button" id="addEducationInfoBtn" class="btn btn-success">+</button>
                    </p>

                    <!-- Educational Info Table -->
                    <div id="educationInfos">
                        @for (var i = 0; i < Model.EducationInfos.Count; i++)
                        {
                            <div class="education-info">
                                <input type="hidden" name="EducationInfos[@i].EducationInfoId" value="@Model.EducationInfos[i].EducationInfoId" />

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Degree</label>
                                            <input class="form-control" type="text" name="EducationInfos[@i].Degree" value="@Model.EducationInfos[i].Degree" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Institution</label>
                                            <input class="form-control" type="text" name="EducationInfos[@i].Institution" value="@Model.EducationInfos[i].Institution" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Year of Passing</label>
                                            <input class="form-control" type="number" name="EducationInfos[@i].YearOfPassing" value="@Model.EducationInfos[i].YearOfPassing" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>CGPA</label>
                                            <input class="form-control" type="number" step="0.01" name="EducationInfos[@i].CGPA" value="@Model.EducationInfos[i].CGPA" />
                                        </div>
                                    </div>
                                    <div class="col-md-1 d-flex align-items-end">
                                        <button type="button" class="btn btn-danger remove-education-btn">-</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var educationCounter = @Model.EducationInfos.Count;

            // Add new education info
            document.getElementById("addEducationInfoBtn").addEventListener("click", function () {
                var newEducation = `
                            <div class="education-info">
                                <input type="hidden" name="EducationInfos[${educationCounter}].EducationInfoId" value="0" />
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Degree</label>
                                            <input class="form-control" type="text" name="EducationInfos[${educationCounter}].Degree" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Institution</label>
                                            <input class="form-control" type="text" name="EducationInfos[${educationCounter}].Institution" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Year of Passing</label>
                                            <input class="form-control" type="number" name="EducationInfos[${educationCounter}].YearOfPassing" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>CGPA</label>
                                            <input class="form-control" type="number" step="0.01" name="EducationInfos[${educationCounter}].CGPA" />
                                        </div>
                                    </div>
                                    <div class="col-md-1 d-flex align-items-end">
                                        <button type="button" class="btn btn-danger remove-education-btn">-</button>
                                    </div>
                                </div>
                            </div>
                        `;

                document.getElementById("educationInfos").insertAdjacentHTML('beforeend', newEducation);
                educationCounter++;
            });

            // Remove education info
            document.addEventListener("click", function (event) {
                if (event.target && event.target.classList.contains('remove-education-btn')) {
                    event.target.closest('.education-info').remove();
                }
            });
        });
    </script>
}
